<!DOCTYPE html>
<html lang="en">

{{ head.html }}

<body class="bg-black text-white">
    <div class="sticky top-0 p-2 mb-2 z-10 bg-black">
        <div id="navigation-toggle" class="absolute top-2 right-2 text-4xl cursor-pointer">1</div>
        <div class="absolute top-2 left-2 text-4xl cursor-pointer">0</div>
    </div>
    {{ navigation.html }}
    <div class="p-4 text-center">
        <h1 class="text-4xl font-bold">Binary Igor</h1>
        <div class="py-4">Some thoughts about binary machines by <a target="_blank"
                href="https://igor.roztropinski.com" class="font-semibold">Igor Roztropiński</a>.</div>

        <ul class="pt-8 flex flex-col gap-10 items-center justify-center">
            <li class="cursor-pointer border-[3px] border-dashed border-slate-200 max-w-[700px] rounded-md p-6">
                <!-- <div class="text-4xl font-bold">---</div> -->
                <h2 class="text-2xl mb-2 font-semibold">Reduce the search space</h2>
                <div class="text-xl mb-4">2022-08-24</div>
                <div>Some excerpt, that's pretty long, that's pretty long, that's pretty long...</div>
            </li>
            <li class="cursor-pointer border-[3px] border-dashed border-slate-200 max-w-[700px] rounded-md p-6">
                <!-- <div class="text-4xl font-bold">---</div> -->
                <h2 class="text-2xl mb-2 font-semibold">HTMX - a new approach to building web apps/websites</h2>
                <div class="text-xl mb-4">2022-08-22</div>
                <div>Some excerpt</div>
            </li>
        </ul>

        {{ templates.js: postsPreview }}
    </div>
</body>

<script>
    const posts = document.querySelectorAll("li");
    posts.forEach(p => p.onclick = () => {
        console.log("Clicking on a post...");
        location.href = "/blog/templates/post.html";
    });

    const navigation = document.getElementById("navigation");

    document.getElementById("navigation-toggle").onclick = () => {
        console.log("Toggling nav...", navigation);
        navigation.classList.toggle("hidden");
    };
</script>

</html>