@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotoMono-Light.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotMono-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotoMono-Italic.ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/assets/fonts/roboto/RobotoMono-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

* {
    /* Fallback only for a swap period */
    font-family: "RobotoMono", "Courier New", Courier, monospace;
}

/* tailwind's slate for fonts and secondary background */
html.dark {
    --primary-color: rgb(15, 15, 15);
    --secondary-1-color: rgb(17, 24, 39);
    --secondary-2-color: rgb(31, 41, 55);
    --primary-text-color: rgb(242, 242, 242);
    --primary-text-color-faded: rgba(242, 242, 242, 0.25);
    --secondary-1-text-color: rgb(229, 231, 235);
    --secondary-2-text-color: rgb(209, 213, 219);
    --secondary-3-text-color: rgb(156, 163, 175);
    --scrollbar-color: var(--primary-text-color);
    --scrollbar-hover-color: var(--secondary-3-text-color);
}

html {
    --primary-color: rgb(250, 250, 250);
    --secondary-1-color: rgb(243, 244, 246);
    --secondary-2-color: rgb(229, 231, 235);
    --primary-text-color: rgb(20, 20, 20);
    --primary-text-color-faded: rgba(20, 20, 20, 0.25);
    --secondary-1-text-color: rgb(31, 41, 55);
    --secondary-2-text-color: rgb(55, 65, 81);
    --secondary-3-text-color: rgb(75, 85, 99);
    --scrollbar-color: var(--primary-text-color);
    --scrollbar-hover-color: var(--secondary-3-text-color);
}

:root {
    /* ==scroll firefox and new chrome: https://developer.chrome.com/blog/new-in-chrome-121== */
    /* "auto" or "thin" */
    scrollbar-width: thin;
    /* scroll thumb and track */
    scrollbar-color: var(--scrollbar-color) var(--primary-color);
    /* ==scroll firefox== */
    /* Turn of chrome blue highlight */
    -webkit-tap-highlight-color: transparent;
}

/* ==chrome before 121, safari scroll== */
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

/* ==chrome before 121, safari scroll== */

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary-1 {
    background-color: var(--secondary-1-color);
}

.bg-secondary-2 {
    background-color: var(--secondary-2-color);
}

.text-primary {
    color: var(--primary-text-color);
}

.text-secondary-1 {
    color: var(--secondary-1-text-color);
}

.text-secondary-2 {
    color: var(--secondary-2-text-color);
}

.text-secondary-3 {
    color: var(--secondary-3-text-color);
}

.border-primary-text {
    border-color: var(--primary-text-color);
}

.border-primary-text-faded {
    border-color: var(--primary-text-color-faded);
}

.object-position-50 {
    object-position: 50% 50%;
}

/* to make anchor links work: https://css-tricks.com/hash-tag-links-padding/ */
.anchor-top-scroll {
    scroll-margin-top: 75px;
    scroll-snap-margin-top: 75px; /* iOS 11 and older */
}

.nowrap {
  white-space: nowrap;
}

@layer components {
    body {
        /* relative for footer to work properly*/
        @apply bg-primary text-primary min-h-screen relative text-lg;
    }

    /* keep in sync with img below! */
    .max-content-width {
        @apply max-w-[750px];
    }

    .post > * {
        @apply m-auto;
    }

    .post h1 {
        @apply text-4xl font-bold text-center;
    }

    .post h2 {
        @apply text-3xl mt-16 mb-8 font-bold text-center cursor-pointer anchor-top-scroll;
    }

    .post h3 {
        @apply text-2xl mt-12 mb-6 font-bold text-center cursor-pointer anchor-top-scroll;
    }

    .post p {
        @apply my-6;
    }

    .post ul {
        @apply list-disc list-inside space-y-1;
    }

    .post li > ul {
        @apply ml-4;
    }

    .post ol {
        @apply list-decimal list-inside space-y-1;
    }

    .post li > ol {
        @apply ml-4;
    }

    .post pre {
        scrollbar-width: thin;
        @apply bg-secondary-1 p-4 text-left border-l-[4px] rounded-sm border-primary-text max-content-width overflow-auto;
    }

    .post blockquote {
        @apply py-2 px-4 text-left border-l-[4px] rounded-sm border-primary-text italic;
    }

    .post figure {
        @apply w-full;
    }

    .post img {
        @apply object-contain m-auto rounded max-h-[750px] max-w-[750px] w-full;
    }

    #profile-image {
        @apply max-w-[275px] sm:max-w-[350px] object-contain m-auto rounded;
    }

    .post figcaption {
        @apply italic text-center opacity-80 text-base mt-1;
    }

    .post a {
        @apply break-words underline;
    }

    .delimiter-like {
        @apply text-secondary-2 font-bold text-2xl text-center;
    }

    .article-delimiter {
        @apply delimiter-like my-16;
    }
}