@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    --primary-color: black;
    --secondary-1-color: #0f172a;
    --secondary-2-color: #1e293b;
    --primary-text-color: white;
    --secondary-1-text-color: #f1f5f9;
    --secondary-2-text-color: #e2e8f0;
    --secondary-3-text-color: #cbd5e1;
    --scrollbar-color: white;
    --scrollbar-hover-color: #cbd5e1;
}

html {
    --primary-color: white;
    --secondary-1-color: #f1f5f9;
    --secondary-2-color: #e2e8f0;
    --primary-text-color: black;
    --secondary-1-text-color: #0f172a;
    --secondary-2-text-color: #1e293b;
    --secondary-3-text-color: #334155;
    --scrollbar-color: black;
    --scrollbar-hover-color: #334155;
}

:root {
    /* ==scroll firefox== */
    /* "auto" or "thin" */
    scrollbar-width: auto;
    /* scroll thumb and track */
    scrollbar-color: var(--scrollbar-color) var(--primary-color);
    /* ==scroll firefox== */
    /* Turn of chrome blue highlight */
    -webkit-tap-highlight-color: transparent;
}

/* ==chrome,safari scroll== */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

/* ==chrome,safari scroll== */

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary-1 {
    background-color: var(--secondary-1-color);
}

.bg-secondary-2 {
    background-color: var(--secondary-2-color);
}

.text-primary {
    color: var(--primary-text-color);
}

.text-secondary-1 {
    color: var(--secondary-1-text-color);
}

.text-secondary-2 {
    color: var(--secondary-2-text-color);
}

.border-text-primary {
    border-color: var(--primary-text-color);
}

.border-text-secondary-2 {
    border-color: var(--secondary-2-text-color);
}

.object-position-50 {
    object-position: 50% 50%;
}

@layer components {
    body {
        /* relative for footer to work properly*/
        @apply font-mono bg-primary text-primary min-h-screen relative;
    }

    .max-content-width {
        @apply max-w-[700px];
    }

    .post > * {
        @apply m-auto;
    }

    .post h1 {
        @apply text-4xl font-bold text-center;
    }

    .post h2 {
        @apply text-2xl mt-8 mb-8 font-bold text-center;
    }

    .post h3 {
        @apply text-xl mt-6 mb-6 font-semibold text-center;
    }

    .post p {
        @apply my-4;
    }

    .post ul {
        @apply list-disc list-inside;
    }

    .post li > ul {
        @apply ml-4;
    }

    .post ol {
        @apply list-decimal list-inside;
    }

    .post li > ol {
        @apply ml-4;
    }

    .post pre {
        @apply bg-secondary-1 p-4 my-4 text-left border-l-[3px] rounded-sm border-text-primary max-content-width overflow-auto;
    }

    .post blockquote {
        @apply p-4 my-4 text-left border-l-[3px] rounded-sm border-text-primary italic;
    }

    .post figure {
        @apply py-4 w-full;
    }

    .post img {
        @apply w-full object-cover object-position-50 rounded-md max-h-[700px];
    }

    #profile-image {
        @apply max-w-[250px] md:max-w-[350px] object-contain m-auto rounded-md;
    }

    .post figcaption {
        @apply italic text-center opacity-90;
    }

    .post a {
        @apply font-bold break-words;
    }

    .delimiter-like {
        @apply text-secondary-2 font-bold text-xl text-center;
    }

    .article-delimiter {
        @apply delimiter-like my-16;
    }
}